.HomePgTime li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.HomePgTime .dots{
    font-size: 25px;
    padding-top: 50px;
    color:#DB4444;
}
.HomePgTime p{
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

.HomePgTime span{
  height: 5px;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: 600;
}
.HomeCaroselImg{
    height: 600px;
}

.HomeBannerImg{
    width:100%;
    height:500px;
}
.HomeCardImg {
    transition: transform 0.3s ease-out;
}
.HomeCardImg:hover {
    transform: scale(1.1); 
}
.homeCardText{
    font-size: 14px !important;
}

.CardStyle{
    width: 100% !important;
    padding: 20px;
    border-radius:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    height: auto !important;
    display: flex;
    flex-direction: column;
    background-color: #fdf0f0;
}

.AddToCartBtn{
    width: 100%;
    border: 1px solid ;
    border-radius: 5px !important;
    padding: 2px 10px;
    font-size: 14px !important;
    font-weight: 600px !important;
    background-color: #000 !important;
    color: #fff !important;
}
.AddToCartBtn:hover{
    background-color: #5c5a5a !important;
    color: #fff !important;
}

.theme-light {
    background-color: #fff !important;
    color: #000 !important;
}
.carousel{
    margin:10px 0 0 60px;
}
.theme-dark {
    background-color: #000 !important;
    color: #fff !important;
}
.carousel-caption{
    margin:0 300px 100px 0; 
    padding:0;
}
.carousel-caption h5{
    font-size:30px;
}
.carousel-caption img{
    width:30px;
}
.carousel-caption a{
    font-size:25px;
    text-decoration:none;
}
.homeLastCont div{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 20px 20px;
    border-radius: 5px;
}
.homeLastCont span{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.homeLastCont p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.owl-nav .owl-prev{
    background-color: #DB4444 !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}
.owl-nav .owl-next{
    background-color: #DB4444 !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}
.owl-nav .owl-prev:hover{
    background-color: #dd2222 !important;
}
.owl-nav .owl-next:hover{
    background-color: #dd2222 !important;
}
.owl-nav .owl-prev span{
    color: #fff !important;
    font-size: 30px !important;
    font-weight: 600;
    line-height: 20px;
}
.owl-nav .owl-next span{
    color: #fff !important;
    font-size: 30px !important;
    font-weight: 600;
    line-height: 20px;
}


@media only screen and (min-width: 320px) and (max-width: 425px) {
    .HomeCaroselImg{
        height: 200px;
    }
    .HomeBannerImg{
        width:100%;
        height:200px;
    }
    .carousel{
        margin:10px 0 0 0px !important;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: inline-block;
        width: 1.3rem;
        height: 1.3rem;
    }
    .carousel-indicators {
        bottom: -15px;
    }

    .carousel-caption h5{
        font-size:14px;
    }
    .carousel-caption img{
        width:20px;
    }
    .carousel-caption a{
        font-size:14px;
        text-decoration:none;
    }
    .carousel-caption{
        margin:0; 
        padding:0;
    }
    .carousel-caption {
        position: absolute;
        right: 40%;
        bottom:1rem;
        left: 0;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
    }
}
@media only screen and (min-width: 426px) and (max-width: 767px) {
    .HomeCaroselImg{
        height: 200px;
    }
    .HomeBannerImg{
        width:100%;
        height:200px;
    }
    .carousel{
        margin:10px 0 0 0px !important;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: inline-block;
        width: 1.3rem;
        height: 1.3rem;
    }
    .carousel-indicators {
        bottom: -15px;
    }

    .carousel-caption h5{
        font-size:14px;
    }
    .carousel-caption img{
        width:20px;
    }
    .carousel-caption a{
        font-size:14px;
        text-decoration:none;
    }
    .carousel-caption{
        margin:0; 
        padding:0;
    }
    .carousel-caption {
        position: absolute;
        right: 40%;
        bottom:1rem;
        left: 0;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .HomeCaroselImg{
        height: 200px;
    }
    .HomeBannerImg{
        width:100%;
        height:200px;
    }
    .carousel{
        margin:10px 0 0 0px !important;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: inline-block;
        width: 1.7rem;
        height: 1.7rem;
    }
    .carousel-indicators {
        bottom: -5px;
    }

    .carousel-caption h5{
        font-size:22px;
    }
    .carousel-caption img{
        width:40px;
    }
    .carousel-caption a{
        font-size:20px;
        text-decoration:none;
    }
    .carousel-caption{
        margin:0; 
        padding:0;
    }
    .carousel-caption {
        position: absolute;
        right: 40%;
        bottom:4rem;
        left: 0;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
    }

    .caroselRow{
        justify-content: center;
    }
    .caroselRow .carousel {
        width: 100%;
        padding: 0;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {

}